@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4" id="top-toolbar">
        <ul class="nav">
            @*<li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>*@
            <li class="nav-item">
                <a class="nav-link" href="/swagger" target="_blank"><span class="oi oi-code" aria-hidden="true"></span> APIs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.redwoodteq.com/docs/product/#/" target="_blank"><span class="oi oi-document" aria-hidden="true"></span> Docs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="oi oi-person" aria-hidden="true"></span> User</a>
            </li>
        </ul>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
