@page "/"
@using GeoSensePlus.Server.Components

<h1>Hello, world!!8</h1>

Welcome to your new app!

<TestMenu />
<TestCard />
<TestCard />

<style>
    .demo-mat-card {
        max-width: 400px;
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>
